<div class="dialog-container">
    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
    <h1 mat-dialog-title>Add User</h1>
    <div mat-dialog-content>
        <div class="full-width">
            <mat-form-field class="mr-1r" appearance="outline">
                <mat-label>First Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="Placeholder" required />

                <!--  <mat-hint>Please enter a Name</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Placeholder" required />

                <!--  <mat-hint>Please enter a Name</mat-hint>-->
            </mat-form-field>
        </div>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Youre Email</mat-label>
            <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="Placeholder" required />
        </mat-form-field>

        <div>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Birth date</mat-label>
                <input [disabled]="loading" [(ngModel)]="birthDate" matInput [matDatepicker]="picker" required />
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="full-width">
            <mat-form-field appearance="outline">
                <mat-label>Street</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Placeholder" required />

                <!--  <mat-hint>Please enter a Name</mat-hint>-->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label> House Number</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.housenumber" matInput placeholder="Placeholder" required />

                <!--  <mat-hint>Please enter a Name</mat-hint>-->
            </mat-form-field>
        </div>

        <div class="full-width">
            <mat-form-field appearance="outline">
                <mat-label>Zip code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput required #postalCode maxlength="5" placeholder="Ex. 94105" />
                <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>

                <!--  <mat-hint>Please enter a Name</mat-hint>-->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="Placeholder" required />

                <!--  <mat-hint>Please enter a Name</mat-hint>-->
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button [disabled]="loading" mat-button (click)="onNoClick()">
      Cancel
    </button>
        <button [disabled]="loading" mat-button (click)="saveUser()" cdkFocusInitial>
      Save
    </button>
    </div>
</div>