<div class="dialog-container">

    <h1 mat-dialog-title>Edit User</h1>
    <div mat-dialog-content>
        <div class="full-width">
            <mat-form-field class="mr-1r" appearance="outline">
                <mat-label>First Name</mat-label>
                <input [(ngModel)]="user.firstName" matInput placeholder="Placeholder" required />

                <!--  <mat-hint>Please enter a Name</mat-hint>-->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input [(ngModel)]="user.lastName" matInput placeholder="Placeholder" required />

                <!--  <mat-hint>Please enter a Name</mat-hint>-->
            </mat-form-field>
        </div>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Youre Email</mat-label>
            <input [(ngModel)]="user.email" matInput placeholder="Placeholder" required />
        </mat-form-field>

        <div>
            <mat-form-field class="full-width" appearance="fill">
                <mat-label>Birth date</mat-label>
                <input [(ngModel)]="birthDate" matInput [matDatepicker]="picker" required />
                <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>


        <div mat-dialog-actions>
            <button mat-button (click)="dialogRef.close()">
      Cancel
    </button>
            <button mat-button (click)="saveUser()" cdkFocusInitial>
      Save
    </button>
        </div>
    </div>