<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" [opened]="true">
        <div class="logo-container">
            <img src="../assets/img/logo.png">
        </div>

        <mat-list class="menu-items">
            <mat-list-item routerLink='/'>
                <mat-icon> fact_check </mat-icon> Dashbord
            </mat-list-item>
            <mat-list-item routerLink='/user'>
                <mat-icon> perm_identity </mat-icon> User </mat-list-item>
        </mat-list>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <mat-icon class="menu-icon" (click)="drawer.toggle()">menu</mat-icon>

                <span> Simple CRM </span>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>

    <div class="router-container">
        <router-outlet></router-outlet>
    </div>


</mat-drawer-container>

<!--  

-->